<template>
  <v-layout row wrap justify-center>
    <v-flex xs12 md6>
      <v-form ref="form" v-model="valid">
        <v-card class="mb-3">
          <v-card-title class="text-xs-center" primary-title>
            <h3 class="headline mx-auto">
              {{ title }}
            </h3>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-lg>
              <v-layout wrap>
                <v-flex xs12>
                  <v-select
                    solo
                    single-line
                    required
                    label="Nodo"
                    item-text="nombre"
                    item-value="id"
                    v-model="service.id_nodo"
                    :items="nodes"
                    :rules="requiredRule"
                    @input="getProfiles(service.id_nodo)"
                    ></v-select>
                </v-flex>
                <v-flex xs12>
                  <v-select
                    single-line
                    required
                    label="Plan"
                    item-value="id"
                    v-model="service.id_plan"
                    :items="plans"
                    :rules="requiredRule"
                  >
                    <template slot="selection" slot-scope="{ item }">
                      {{ item.tipo.nombre }} - {{ item.ancho_banda }}
                    </template>
                    <template slot="item" slot-scope="{ item }">
                      {{ item.tipo.nombre }} - {{ item.ancho_banda }}
                    </template>
                  </v-select>
                </v-flex>
                <v-flex xs12 lg6>
                  <v-text-field
                    persistent-hint
                    label="Usuario (name)"
                    v-model="service.name"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12 lg6>
                  <v-text-field
                    label="Contraseña"
                    v-model="service.password"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field
                    return-masked-value
                    label="MAC"
                    v-model="service.mac"
                    mask="NN:NN:NN:NN:NN:NN"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-select
                    required
                    single-line
                    label="Server"
                    v-model="service.server"
                    :disabled="servers.length < 1"
                    :items="servers"
                    :rules="requiredRule"
                    ></v-select>
                </v-flex>
                <v-flex xs12>
                  <v-text-field
                    label="Dirección IP (address)"
                    v-model="service.address"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-btn
                    class="primary"
                    :disabled="!valid"
                    @click="submit"
                    >
                    {{ !!serviceId ? 'Actualizar' : 'Agregar' }}
                  </v-btn>
                  <v-btn flat @click="clear">Reset</v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
        </v-card>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
import ServicesService from '@/services/services-service'
import NodesService from '@/services/nodes-service'
import PlansService from '@/services/plans-service'

export default {
  name: 'ServiceForm',
  props: ['serviceId', 'title'],
  data () {
    return {
      valid: false,
      requiredRule: [
        v => !!v || 'Este campo es requerido'
      ],
      nodes: [],
      plans: [],
      servers: [],
      service: {
        id_nodo: null,
        id_plan: null,
        status: '',
        plan: '',
        name: '',
        mac: '',
        server: '',
        address: ''
      }
    }
  },
  async created () {
    try {
      const nodes = (await NodesService.getAll()).data
      this.nodes = nodes

      const plans = (await PlansService.getAll()).data
      this.plans = plans

      if (this.serviceId) {
        const service = (await ServicesService.get(this.serviceId)).data
        this.service = service

        let nodeInfo = (await NodesService.getInfo(service.id_nodo)).data
        nodeInfo.servers.unshift('all')
        this.servers = nodeInfo.servers
      }
    } catch (err) {
      this.toastError(err)
    }
  },
  methods: {
    submit () {
      if (this.$refs.form.validate()) {
        this.$emit('submit', {
          service: this.service
        })
      }
    },
    clear () {
      this.$refs.form.reset()
    },
    async getProfiles (nodeId) {
      if (!nodeId) {
        return
      }

      try {
        let { data } = await NodesService.getInfo(nodeId)
        data.servers.unshift('all')

        this.profiles = data.profiles
        this.servers = data.servers
      } catch (err) {
        console.error(err)
      }
    }
  }
}
</script>
