<template>
  <div>
    <v-card v-for="(servicio, index) in services" :key="servicio.id" class="mb-3">
      <v-card-media :class="serviceHeaderClass(servicio)">
        <v-layout column justify-content class="media">
          <v-card-title>
            <div class="display-1 ml-3">Servicio {{ index + 1 }}</div>
            <v-spacer></v-spacer>
            <v-btn
              dark
              icon
              @click="removeService(servicio)"
            >
              <v-icon>delete</v-icon>
            </v-btn>
            <v-btn
              v-if="servicio.status !== 'Retirado'"
              dark
              icon
              :to="{ name: 'services-edit', params: { id: servicio.id } }"
            >
              <v-icon>edit</v-icon>
            </v-btn>
          </v-card-title>
        </v-layout>
      </v-card-media>
      <v-card-actions class="pa-3">
        Acciones:
        <v-spacer></v-spacer>
        <v-btn
          v-if="servicio.status === 'Suspendido' || servicio.status === 'Moroso' || servicio.status === 'Retirado'"
          outline
          color="success"
          @click="activate(servicio)"
          >Activar</v-btn>
        <v-btn
          v-if="servicio.status === 'Activo'"
          outline
          color="error"
          @click="suspend(servicio)"
          >Suspender</v-btn>
        <v-btn
          depressed
          v-if="servicio.status === 'Activo' || servicio.status === 'Suspendido'"
          color="error"
          @click="retire(servicio)"
          >Retirar</v-btn>
      </v-card-actions>
      <v-divider></v-divider>
      <v-list two-line>
        <tile-detail :value="campoNodo(servicio)" label="Nodo"/>
        <tile-detail :value="planName(servicio)" label="Plan"/>
        <tile-detail v-model="servicio.name" label="Name"/>
        <tile-detail v-model="servicio.server" label="Server"/>
        <tile-detail v-model="servicio.mac" label="MAC"/>
        <tile-detail v-model="servicio.address" label="Address"/>
        <tile-detail v-model="servicio.status" label="Status"/>
      </v-list>
    </v-card>
  </div>
</template>

<script>
import TileDetail from '@/components/TileDetail'
import ServicesService from '@/services/services-service'

export default {
  name: 'ServiceInfo',
  props: ['services'],
  components: {
    TileDetail
  },
  methods: {
    campoNodo (servicio) {
      return `${servicio.nodo.nombre} (${servicio.nodo.ip})`
    },
    serviceHeaderClass (service) {
      const headerClass = {
        success: service.status === 'Activo',
        grey: service.status === 'Retirado',
        error: service.status === 'Suspendido'
      }

      return headerClass
    },
    async editStatus (id, status) {
      try {
        await ServicesService.edit(id, { service: { status } })
        this.$emit('update')
      } catch (err) {
        this.toastError(err)
      }
    },
    activate (service) {
      this.editStatus(service.id, 'Activo')
    },
    suspend (service) {
      this.editStatus(service.id, 'Suspendido')
    },
    retire (service) {
      this.editStatus(service.id, 'Retirado')
    },
    planName (service) {
      return `${service.plan.tipo.nombre} ${service.plan.ancho_banda}`
    },
    async removeService (service) {
      try {
        if (confirm('¿Seguro de que desea borrar el servicio?')) {
          await ServicesService.delete(service.id)
          this.$emit('update')
        }
      } catch (err) {
        this.$emit('update')
        this.toastError(err)
      }
    }
  }
}
</script>
