<template>
  <v-flex md6>
    <h1 class="text-xs-center mb-3">Detalle del proveedor</h1>
    <v-card v-if="provider">
      <v-card-media class="blue accent-1 blue--text text--lighten-5">
        <v-layout column justify-content class="media">
          <v-card-title>
            <v-btn dark icon :to="{ name: 'providers-list' }">
              <v-icon>chevron_left</v-icon>
            </v-btn>
            <div class="display-1 ml-3">{{ names }}</div>
          </v-card-title>
        </v-layout>
      </v-card-media>
      <v-list two-line>
        <tile-detail
          v-model="provider.nombre_compania"
          icon="person"
          label="Nombre de la compañía"/>

        <v-divider inset></v-divider>

        <tile-detail
          v-model="provider.nombre_contacto"
          icon="person"
          label="Nombre de contacto"/>
        <tile-detail
          v-model="provider.cargo_contacto"
          label="Cargo de contacto"/>

        <v-divider inset></v-divider>

        <tile-detail v-model="provider.pais" label="País"/>
        <tile-detail v-model="provider.ciudad" label="Ciudad"/>
        <tile-detail v-model="provider.region" label="Región"/>
        <tile-detail
          v-model="provider.direccion"
          icon="place"
          label="Dirección"/>
        <tile-detail v-model="provider.codigo_postal" label="Código postal"/>

        <v-divider inset></v-divider>

        <tile-detail
          v-model="provider.telefono"
          icon="call"
          label="Número de teléfono"/>
        <tile-detail
          v-model="provider.fax"
          icon="call"
          label="Fax"/>
        <tile-detail
          v-model="provider.pagina_principal"
          icon="web"
          label="Página principal"/>
      </v-list>
    </v-card>
  </v-flex>
</template>

<script>
import ProvidersService from '@/services/providers-service'
import TileDetail from '@/components/TileDetail'

export default {
  name: 'AdminProvidersDetails',
  props: ['id'],
  components: {
    TileDetail
  },
  data () {
    return {
      provider: null
    }
  },
  async created () {
    try {
      const { data } = await ProvidersService.get(this.id)
      this.provider = data
    } catch (err) {
      this.toastError(err)
    }
  },
  computed: {
    names () {
      if (
        this.provider &&
        typeof this.provider === 'object' &&
        this.provider.hasOwnProperty('nombre_compania')
      ) {
        return this.provider.nombre_compania
      } else {
        return this.id
      }
    }
  }
}
</script>
