<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-form @submit.prevent="login">
              <v-card class="elevation-12 mb-4">
                <v-toolbar dark color="primary">
                  <v-toolbar-title>Ingresar al sistema</v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                  <v-text-field
                    autofocus
                    prepend-icon="person"
                    name="login"
                    label="Usuario"
                    type="text"
                    v-model="username"
                    ></v-text-field>
                  <v-text-field
                    id="password"
                    prepend-icon="lock"
                    name="password"
                    label="Contraseña"
                    type="password"
                    v-model="password"
                    ></v-text-field>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" type="submit">Ingresar</v-btn>
                </v-card-actions>
              </v-card>
            </v-form>
            <p class="grey--text text-xs-center">SW Sistemas</p>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'AdminLogin',
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    async login () {
      try {
        await this.$store.dispatch('retrieveToken', {
          username: this.username,
          password: this.password
        })
        this.$router.push({ name: 'admin-home' })
      } catch (err) {
        this.toastError(err)
        this.password = ''
      }
    }
  }
}
</script>
