<template>
  <v-flex>
    <v-card class="mb-5">
      <v-card-title primary-title>
        <h1>Lista de planes</h1>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          prepend-icon="search"
          label="Buscar plan"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>

      <v-data-table
        class="mt-3"
        :headers="headers"
        :items="plans"
        :search="search"
      >
        <template slot="items" slot-scope="{ item }">
          <td>{{ item.tipo.nombre }}</td>
          <td>{{ item.ancho_banda }}</td>
          <td>${{ item.costo }}</td>
          <td class="justify-center align-center layout px-0">
            <v-tooltip bottom>
              <v-icon
                class="mr-2"
                color="yellow darken-3"
                slot="activator"
                @click="editPlan(item.id)"
              >
                edit
              </v-icon>
              <span>Editar</span>
            </v-tooltip>
          </td>
        </template>
        <template slot="no-data">
          No se han encontrado planes
        </template>
      </v-data-table>
    </v-card>
    <v-card>
      <v-card-title primary-title>
        <h1>Tipos de planes</h1>
      </v-card-title>

      <v-card-actions>
        <v-btn class="success mx-2" :to="{ name: 'plans-types-add' }">
          Agregar
        </v-btn>
      </v-card-actions>

      <v-data-table
        hide-actions
        class="mt-3"
        :headers="typesHeaders"
        :items="plansTypes"
      >
        <template slot="items" slot-scope="{ item }">
          <td>{{ item.id }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.prefijo }}</td>
          <td class="justify-center align-center layout px-0">
            <v-tooltip bottom>
              <v-icon
                class="mr-2"
                color="yellow darken-3"
                slot="activator"
                @click="editPlanType(item.id)"
              >
                edit
              </v-icon>
              <span>Editar</span>
            </v-tooltip>
          </td>
        </template>
        <template slot="no-data">
          No se han encontrado los tipos de planes
        </template>
      </v-data-table>
    </v-card>
  </v-flex>
</template>

<script>
import PlansService from '@/services/plans-service'
import PlansTypesService from '@/services/plans-types-service'

export default {
  name: 'AdminPlansList',
  data () {
    return {
      search: '',
      plans: [],
      plansTypes: [],
      selected: null,
      headers: [
        { value: 'nombre', text: 'Tipo de plan' },
        { value: 'ancho_banda', text: 'Ancho de banda' },
        { value: 'costo', text: 'Costo' },
        { value: 'name', text: 'Acciones', sortable: false, align: 'center' }
      ],
      typesHeaders: [
        { value: 'id', text: 'ID' },
        { value: 'nombre', text: 'Tipo de plan' },
        { value: 'prefijo', text: 'Prefijo en Winbox' },
        { value: 'name', text: 'Acciones', sortable: false, align: 'center' }
      ]
    }
  },
  async created () {
    try {
      const plans = (await PlansService.getAll()).data
      this.plans = plans
      const plansTypes = (await PlansTypesService.getAll()).data
      this.plansTypes = plansTypes
    } catch (err) {
      this.toastError(err)
    }
  },
  methods: {
    editPlan (id) {
      this.$router.push({ name: 'plans-edit', params: { id: String(id) } })
    },
    editPlanType (id) {
      this.$router.push({ name: 'plans-types-edit', params: { id: String(id) } })
    }
  }
}
</script>
