<template>
  <v-flex xs12>
    <h1 class="text-xs-center mb-3">Detalle del cliente</h1>
    <v-container grid-list-lg>
      <v-layout row wrap>
        <v-flex md6>
          <client-info :client="client" />
        </v-flex>
        <v-flex md6>
          <service-info @update="fetchClient" :services="client.servicios" />
        </v-flex>
      </v-layout>
    </v-container>
  </v-flex>
</template>

<script>
import ClientsService from '@/services/clients-service'
import ClientInfo from '@/components/Client/ClientInfo'
import ServiceInfo from '@/components/Service/ServiceInfo'
import TileDetail from '@/components/TileDetail'

export default {
  name: 'AdminClientsDetails',
  props: ['id'],
  components: {
    TileDetail,
    ClientInfo,
    ServiceInfo
  },
  data () {
    return {
      client: {
        servicios: []
      }
    }
  },
  created () {
    this.fetchClient()
  },
  computed: {
    name () {
      if (
        this.client &&
        typeof this.client === 'object' &&
        this.client.hasOwnProperty('nombre')
      ) {
        return this.client.nombre
      } else {
        return this.id
      }
    }
  },
  methods: {
    async fetchClient () {
      try {
        const { data } = await ClientsService.get(this.id)
        this.client = data
      } catch (err) {
        this.toastError(err)
      }
    }
  }
}
</script>
