<template>
  <v-flex xs12 md6>
    <v-card>
      <v-card-title primary-title class="pb-0">
        <v-flex justify-center class="pb-0">
          <h3 class="headline text-xs-center">Agregar nodo</h3>
        </v-flex>
      </v-card-title>
      <v-card-text>
        <v-form ref="form" v-model="valid">
          <v-container grid-list-lg>
            <v-layout row wrap>
              <v-flex xs12>
                <v-text-field
                  label="Nombre del nodo"
                  v-model="name"
                  :rules="requiredRule"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  label="IP del nodo"
                  v-model="ip"
                  :rules="requiredRule"
                  required
                ></v-text-field>
              </v-flex>

              <v-flex xs12>
                <v-btn
                  class="primary"
                  :disabled="!valid"
                  @click="submit"
                >
                  Agregar
                </v-btn>
                <v-btn @click="clear">Reset</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>
      </v-card-text>
    </v-card>
  </v-flex>
</template>

<script>
import NodesService from '@/services/nodes-service'

export default {
  name: 'AdminNodesAdd',
  data () {
    return {
      valid: false,
      requiredRule: [
        v => !!v || 'Este campo es requerido'
      ],
      name: '',
      ip: ''
    }
  },
  methods: {
    async submit () {
      try {
        if (this.$refs.form.validate()) {
          await NodesService.add({
            nombre: this.name,
            ip: this.ip
          })
          this.$router.push({ name: 'nodes-list' })
        }
      } catch (err) {
        this.toastError(err)
      }
    },
    clear () {
      this.$refs.form.reset()
    }
  }
}
</script>
