<template>
  <v-flex>
    <v-card>
      <v-card-title primary-title>
        <h3 class="headline">Lista de clientes</h3>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          prepend-icon="search"
          label="Buscar cliente"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :search="search"
        :headers="headers"
        :items="clients"
        :loading="loading"
      >
        <template slot="items" slot-scope="props">
          <tr @click="props.expanded = !props.expanded">
            <td>
              {{ props.item.nombre }}
            </td>
            <td>{{ props.item.correo1 }}</td>
            <td>{{ props.item.cedula }}</td>
            <td>{{ props.item.telefono1 }}</td>
            <td>{{ props.item.direccion }}</td>
            <td>{{ props.item.servicios.length }}</td>
            <td class="justify-center align-center layout px-0">
              <v-tooltip left>
                <v-icon
                  class="mr-2"
                  color="blue darken-3"
                  slot="activator"
                  @click="showClient(props.item)"
                >
                  zoom_in
                </v-icon>
                <span>Ver detalles</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-icon
                  class="mr-2"
                  color="yellow darken-3"
                  slot="activator"
                  @click="editClient(props.item.id)"
                >
                  edit
                </v-icon>
                <span>Editar</span>
              </v-tooltip>
            </td>
          </tr>
        </template>
        <template slot="expand" slot-scope="{ item }">
        <v-card flat>
          <v-card-actions>
            <v-btn color="primary" @click="showClient(item)">
              Ver detalles
            </v-btn>
            <v-btn
              outline
              color="success"
              :to="{ name: 'services-add', params: { id: item.id } }"
              >Agregar servicio</v-btn>
          </v-card-actions>
        </v-card>
      </template>
        <template slot="no-results">
          No se han encontrado clientes con esa búsqueda
        </template>
        <template slot="no-data">
          No se han encontrado clientes en la base de datos
        </template>
      </v-data-table>
    </v-card>
  </v-flex>
</template>

<script>
import ClientsService from '@/services/clients-service'

export default {
  name: 'AdminClientsList',
  data () {
    return {
      search: '',
      clients: [],
      loading: false,
      headers: [
        { value: 'nombre', text: 'Nombre' },
        { value: 'correo1', text: 'Correo' },
        { value: 'cedula', text: 'Cédula' },
        { value: 'telefono1', text: 'Teléfono' },
        { value: 'direccion', text: 'Dirección' },
        { value: 'servicios', text: 'Servicios' },
        { value: 'name', text: 'Acciones', sortable: false, align: 'center' }
      ]
    }
  },
  async created () {
    this.load(() => this.fetchClients())
  },
  methods: {
    async fetchClients () {
      try {
        const { data } = await ClientsService.getAll()
        this.clients = data
      } catch (err) {
        this.toastError(err)
      }
    },
    showClient (item, old) {
      this.$router.push({ name: 'clients-details', params: { id: item.id } })
    },
    editClient (id) {
      this.$router.push({ name: 'clients-edit', params: { id: String(id) } })
    },
    statusColor (item) {
      switch (item.status) {
        case 'Activo':
          return 'green'
        case 'Retirado':
          return 'red accent-2'
        case 'Suspendido':
          return 'red darken-1'
        default:
          return ''
      }
    },
    async editStatus (id, status) {
      try {
        await ClientsService.edit(id, { client: { status } })
        await this.fetchClients()
      } catch (err) {
        this.toastError(err)
      }
    },
    activate (id) {
      this.load(() => this.editStatus(id, 'Activo'))
    },
    suspend (id) {
      this.load(() => this.editStatus(id, 'Suspendido'))
    },
    retire (id) {
      this.load(() => this.editStatus(id, 'Retirado'))
    },
    async load (func) {
      this.loading = true
      await func()
      this.loading = false
    }
  }
}
</script>
