<template>
  <v-flex>
    <h1>Lista de proveedores</h1>
    <v-data-table
      hide-actions
      class="elevation-2 mt-3"
      :headers="headers"
      :items="providers"
    >
      <template slot="items" slot-scope="{ item }">
        <tr @click="showProvider(item)">
          <td>{{ item.nombre_compania }}</td>
          <td>{{ item.nombre_contacto }}</td>
          <td>{{ item.direccion }}</td>
          <td>{{ item.telefono }}</td>
          <td>{{ item.pagina_principal }}</td>
        </tr>
      </template>
      <template slot="no-data">
        No se han encontrado proveedores
      </template>
    </v-data-table>
  </v-flex>
</template>

<script>
import ProvidersService from '@/services/providers-service'

export default {
  name: 'AdminProvidersList',
  data () {
    return {
      providers: [],
      selected: null,
      headers: [
        { value: 'nombre_compania', text: 'Nombre de la compañía' },
        { value: 'nombre_contacto', text: 'Nombre de contacto' },
        { value: 'direccion', text: 'Dirección' },
        { value: 'telefono', text: 'Teléfono' },
        { value: 'pagina_principal', text: 'Página principal' }
      ]
    }
  },
  async created () {
    try {
      const { data } = await ProvidersService.getAll()
      this.providers = data
    } catch (err) {
      this.toastError(err)
    }
  },
  methods: {
    showProvider (item, old) {
      this.$router.push({ name: 'providers-details', params: { id: item.id } })
    }
  }
}
</script>
