<template>
  <v-flex md6>
    <h1 class="text-xs-center mb-3">Detalle del empleado</h1>
    <v-card v-if="employee">
      <v-card-media class="blue accent-1 blue--text text--lighten-5">
        <v-layout column justify-content class="media">
          <v-card-title>
            <v-btn dark icon :to="{ name: 'employees-list' }">
              <v-icon>chevron_left</v-icon>
            </v-btn>
            <div class="display-1 ml-3">{{ names }}</div>
          </v-card-title>
        </v-layout>
      </v-card-media>
      <v-list two-line>
        <tile-detail v-model="employee.nombres" icon="person" label="Nombres"/>
        <tile-detail
          v-model="employee.apellidos"
          icon="person"
          label="Apellidos"/>
        <tile-detail v-model="employee.cedula" label="Cédula"/>
        <tile-detail v-model="employee.rif" label="RIF"/>

        <v-divider inset></v-divider>

        <tile-detail
          v-model="employee.usuario"
          icon="person_pin"
          label="Usuario"/>

        <v-divider inset></v-divider>

        <tile-detail v-model="employee.ficha" label="Ficha"/>
        <tile-detail v-model="employee.tratamiento" label="Tratamiento"/>
        <tile-detail
          v-model="employee.cargo"
          icon="supervisor_account"
          label="Cargo"/>

        <v-divider inset></v-divider>

        <tile-detail
          v-model="employee.supervisor"
          icon="supervised_user_circle"
          label="Supervisor"/>

        <v-divider inset></v-divider>

        <v-list-tile>
          <v-list-tile-action>
            <v-icon>calendar_today</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ formatDate(attr('fecha_nacimiento')) }}</v-list-tile-title>
            <v-list-tile-sub-title>Fecha de nacimiento</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-action>
            <v-icon>calendar_today</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ formatDate(attr('fecha_contratacion')) }}</v-list-tile-title>
            <v-list-tile-sub-title>Fecha de contratación</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-divider inset></v-divider>

        <tile-detail v-model="employee.pais" label="País"/>
        <tile-detail v-model="employee.ciudad" label="Ciudad"/>
        <tile-detail v-model="employee.region" label="Región"/>
        <tile-detail
          v-model="employee.direccion"
          icon="place"
          label="Dirección"/>
        <tile-detail v-model="employee.codigo_postal" label="Código Postal"/>

        <v-divider inset></v-divider>

        <tile-detail
          v-model="employee.telefono_domicilio"
          icon="call"
          label="Teléfono de domicilio"/>
        <tile-detail
          v-model="employee.telefono_celular"
          icon="call"
          label="Teléfono celular"/>
      </v-list>
    </v-card>
  </v-flex>
</template>

<script>
import moment from 'moment'

import EmployeesService from '@/services/employees-service'
import TileDetail from '@/components/TileDetail'

export default {
  name: 'AdminEmployeesDetails',
  props: ['id'],
  components: {
    TileDetail
  },
  data () {
    return {
      employee: null
    }
  },
  async created () {
    try {
      const { data } = await EmployeesService.get(this.id)
      this.employee = data
    } catch (err) {
      this.toastError(err)
    }
  },
  computed: {
    names () {
      if (
        this.employee &&
        typeof this.employee === 'object' &&
        this.employee.hasOwnProperty('nombres')
      ) {
        return this.employee.nombres
      } else {
        return this.id
      }
    }
  },
  methods: {
    attr (name) {
      if (!this.employee || !this.employee.hasOwnProperty(name)) {
        return '-'
      } else {
        return this.employee[name] || '-'
      }
    },
    formatDate (date) {
      return moment(date).format('DD-MM-YYYY') || '-'
    }
  }
}
</script>
