<template>
  <v-flex xs12 md6>
    <v-card>
      <v-card-title primary-title class="pb-0">
        <v-flex justify-center class="pb-0">
          <h3 class="headline text-xs-center">Editar tipo de plan</h3>
        </v-flex>
      </v-card-title>
      <v-card-text>
        <v-form ref="form" v-model="valid">
          <v-container grid-list-lg>
            <v-layout row wrap>
              <v-flex xs12>
                <v-text-field
                  label="Tipo de plan"
                  v-model="tipo.nombre"
                  :rules="requiredRule"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  label="Prefijo en Winbox"
                  v-model="tipo.prefijo"
                  :rules="requiredRule"
                  required
                ></v-text-field>
              </v-flex>

              <v-flex xs12>
                <v-btn
                  class="primary"
                  :disabled="!valid"
                  @click="submit"
                >
                  Editar
                </v-btn>
                <v-btn @click="clear">Reset</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>
      </v-card-text>
    </v-card>
  </v-flex>
</template>

<script>
import PlansTypesService from '@/services/plans-types-service'

export default {
  name: 'AdminPlansTypesEdit',
  props: {
    id: {
      type: String
    }
  },
  data () {
    return {
      valid: false,
      requiredRule: [
        v => !!v || 'Este campo es requerido'
      ],
      tipo: {
        nombre: '',
        prefijo: ''
      }
    }
  },
  async created () {
    try {
      const type = (await PlansTypesService.get(this.id)).data
      this.tipo = type
    } catch (err) {
      this.toastError(err)
    }
  },
  methods: {
    async submit () {
      try {
        if (this.$refs.form.validate()) {
          let tipo = Object.assign({}, this.tipo)
          delete tipo.planes

          await PlansTypesService.edit(this.id, {
            type: tipo
          })
          this.$router.push({ name: 'plans-list' })
        }
      } catch (err) {
        this.toastError(err)
      }
    },
    clear () {
      this.$refs.form.reset()
    }
  }
}
</script>
