<template>
  <v-flex xs12 md6>
    <v-card>
      <v-card-title primary-title class="pb-0">
        <v-flex justify-center class="pb-0">
          <h3 class="headline text-xs-center">Editar plan</h3>
        </v-flex>
      </v-card-title>
      <v-card-text>
        <v-form ref="form" v-model="valid">
          <v-container grid-list-lg>
            <v-layout row wrap>
              <v-flex xs12>
                <v-select
                  single-line
                  required
                  label="Tipo de plan"
                  item-text="nombre"
                  item-value="id"
                  v-model="plan.id_tipo"
                  :items="types"
                  :rules="requiredRule"
                  ></v-select>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  label="Ancho de banda"
                  v-model="plan.ancho_banda"
                  :rules="requiredRule"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  label="Costo"
                  v-model="plan.costo"
                  prepend-icon="attach_money"
                  type="number"
                  :rules="requiredRule"
                  required
                ></v-text-field>
              </v-flex>

              <v-flex xs12>
                <v-btn
                  class="primary"
                  :disabled="!valid"
                  @click="submit"
                >
                  Editar
                </v-btn>
                <v-btn @click="clear">Reset</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>
      </v-card-text>
    </v-card>
  </v-flex>
</template>

<script>
import PlansService from '@/services/plans-service'
import PlansTypesService from '@/services/plans-types-service'

export default {
  name: 'AdminPlansAdd',
  props: {
    id: {
      type: String
    }
  },
  data () {
    return {
      valid: false,
      requiredRule: [
        v => !!v || 'Este campo es requerido'
      ],
      types: [],
      plan: {
        id_tipo: null,
        ancho_banda: '',
        winbox: '',
        costo: 0
      }
    }
  },
  async created () {
    try {
      const types = (await PlansTypesService.getAll()).data
      this.types = types
      const plan = (await PlansService.get(Number(this.id))).data
      this.plan = plan
    } catch (err) {
      this.toastError(err)
    }
  },
  methods: {
    async submit () {
      try {
        if (this.$refs.form.validate()) {
          let plan = this.plan
          delete plan.tipo
          await PlansService.edit(this.id, {
            plan: this.plan
          })
          this.$router.push({ name: 'plans-list' })
        }
      } catch (err) {
        this.toastError(err)
      }
    },
    clear () {
      this.$refs.form.reset()
    }
  }
}
</script>
