<template>
  <v-flex>
    <h1>Lista de nodos</h1>
    <v-data-table
      hide-actions
      class="elevation-2 mt-3"
      :headers="headers"
      :items="nodes"
    >
      <template slot="items" slot-scope="{ item }">
        <td>{{ item.nombre }}</td>
        <td>{{ item.ip }}</td>
      </template>
      <template slot="no-data">
        No se han encontrado nodos
      </template>
    </v-data-table>
  </v-flex>
</template>

<script>
import NodesService from '@/services/nodes-service'

export default {
  name: 'AdminNodesList',
  data () {
    return {
      nodes: [],
      selected: null,
      headers: [
        { value: 'nombre', text: 'Nombre del nodo' },
        { value: 'ip', text: 'IP' }
      ]
    }
  },
  async created () {
    try {
      const { data } = await NodesService.getAll()
      this.nodes = data
    } catch (err) {
      this.toastError(err)
    }
  }
}
</script>
