<template>
  <v-container fluid grid-list-lg>
    <service-form @submit="submit" title="Editar servicio" :serviceId="Number(id)"/>
  </v-container>
</template>

<script>
import ServicesService from '@/services/services-service'
import ServiceForm from '@/components/Service/ServiceForm'

export default {
  name: 'AdminServicesEdit',
  props: {
    id: {
      type: String
    }
  },
  components: {
    ServiceForm
  },
  methods: {
    async submit (data) {
      try {
        delete data.service.status
        await ServicesService.edit(Number(this.id), {
          service: data.service
        })
        this.$router.push({ name: 'clients-list' })
      } catch (err) {
        this.toastError(err)
      }
    }
  }
}
</script>
