<template>
  <v-container fluid grid-list-lg>
    <client-form @submit="submit" title="Editar cliente" :clientId="Number(id)"/>
  </v-container>
</template>

<script>
import ClientsService from '@/services/clients-service'
import ClientForm from '@/components/Client/ClientForm'

export default {
  name: 'AdminClientsEdit',
  props: {
    id: {
      type: String
    }
  },
  components: {
    ClientForm
  },
  methods: {
    async submit (data) {
      try {
        await ClientsService.edit(Number(this.id), {
          client: data.client
        })
        this.$router.push({ name: 'clients-list' })
      } catch (err) {
        this.toastError(err)
      }
    }
  }
}
</script>
