<template>
  <v-flex xs12 md8>
    <h1 class="text-xs-center">Agregar empleado</h1>

    <v-form ref="form" v-model="valid" lazy-validation>
      <v-container grid-list-lg>
        <v-layout row wrap>
          <v-flex xs12 md6>
            <v-text-field
              label="Nombres"
              v-model="firstNames"
              :rules="requiredRule"
              required
            ></v-text-field>
          </v-flex>
          <v-flex xs12 md6>
            <v-text-field
              label="Apellidos"
              v-model="lastNames"
              :rules="requiredRule"
              required
            ></v-text-field>
          </v-flex>

          <v-flex xs12 md6>
            <v-text-field
              label="Usuario"
              v-model="username"
              :rules="requiredRule"
              required
            ></v-text-field>
          </v-flex>
          <v-flex xs12 md6>
            <v-text-field
              label="Contraseña"
              v-model="password"
              type="password"
              :rules="requiredRule"
              required
            ></v-text-field>
          </v-flex>

          <v-flex xs12 md6>
            <v-text-field
              label="Cédula"
              v-model="dni"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 md6>
            <v-text-field
              label="RIF"
              v-model="rif"
            ></v-text-field>
          </v-flex>

          <v-flex xs12 md4>
            <v-text-field
              label="Ficha"
              v-model="sheet"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 md4>
            <v-text-field
              label="Tratamiento"
              v-model="treatment"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 md4>
            <v-text-field
              label="Cargo"
              v-model="position"
            ></v-text-field>
          </v-flex>

          <v-flex xs12 md6>
            <v-menu
              v-model="birthMenu"
              lazy
              offset-y
              full-width
              ref="birthMenu"
              min-width="290px"
              :close-on-content-click="false"
            >
              <v-text-field
                slot="activator"
                v-model="birthDate"
                label="Fecha de nacimiento"
                readonly
              ></v-text-field>
              <v-date-picker
                locale="es"
                v-model="birthDate"
                no-title
                scrollable
              >
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="birthMenu = false">Cancelar</v-btn>
                <v-btn flat color="primary" @click="$refs.birthMenu.save(birthDate)">Aceptar</v-btn>
              </v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex xs12 md6>
            <v-menu
              v-model="contractMenu"
              lazy
              offset-y
              full-width
              ref="contractMenu"
              min-width="290px"
              :close-on-content-click="false"
            >
              <v-text-field
                slot="activator"
                v-model="contractDate"
                label="Fecha de contratación"
                readonly
              ></v-text-field>
              <v-date-picker
                locale="es"
                v-model="contractDate"
                no-title
                scrollable
              >
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="contractMenu = false">Cancelar</v-btn>
                <v-btn flat color="primary" @click="$refs.contractMenu.save(contractDate)">Aceptar</v-btn>
              </v-date-picker>
            </v-menu>
          </v-flex>

          <v-flex xs12>
            <v-text-field
              label="Dirección"
              v-model="address"
            ></v-text-field>
          </v-flex>

          <v-flex xs12 md3>
            <v-text-field
              label="País"
              v-model="country"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 md3>
            <v-text-field
              label="Ciudad"
              v-model="city"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 md3>
            <v-text-field
              label="Región"
              v-model="region"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 md3>
            <v-text-field
              label="Código postal"
              v-model="zipCode"
            ></v-text-field>
          </v-flex>

          <v-flex xs12 md6>
            <v-text-field
              label="Teléfono de domicilio"
              v-model="homePhone"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 md6>
            <v-text-field
              label="Teléfono celular"
              v-model="cellPhone"
            ></v-text-field>
          </v-flex>

          <v-flex xs12>
            <v-text-field
              label="Supervisor"
              v-model="supervisor"
            ></v-text-field>
          </v-flex>

          <v-flex xs12>
            <v-text-field
              label="Foto"
              v-model="photo"
            ></v-text-field>
          </v-flex>

          <v-flex xs12>
            <v-text-field
              label="Notas"
              v-model="notes"
              multi-line
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-btn
              class="primary"
              :disabled="!valid"
              @click="submit"
            >
              Agregar
            </v-btn>
            <v-btn @click="clear">Reset</v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-form>
  </v-flex>
</template>

<script>
import EmployeesService from '@/services/employees-service'

export default {
  name: 'AdminEmployeesAdd',
  data () {
    return {
      valid: false,
      requiredRule: [
        v => !!v || 'Este campo es requerido'
      ],
      birthMenu: false,
      contractMenu: false,
      firstNames: '',
      lastNames: '',
      username: '',
      password: '',
      dni: '',
      rif: '',
      sheet: '',
      treatment: '',
      position: '',
      birthDate: null,
      contractDate: null,
      country: '',
      city: '',
      region: '',
      address: '',
      zipCode: null,
      homePhone: '',
      cellPhone: '',
      photo: '',
      supervisor: '',
      notes: ''
    }
  },
  methods: {
    async submit () {
      try {
        if (this.$refs.form.validate()) {
          await EmployeesService.add({
            nombres: this.firstNames,
            apellidos: this.lastNames,
            usuario: this.username,
            clave: this.password,
            cedula: this.dni,
            rif: this.rif,
            ficha: this.sheet,
            tratamiento: this.treatment,
            cargo: this.position,
            fecha_nacimiento: this.birthDate,
            fecha_contratacion: this.contractDate,
            pais: this.country,
            ciudad: this.city,
            region: this.region,
            direccion: this.address,
            codigo_postal: this.zipCode,
            telefono_domicilio: this.homePhone,
            telefono_celular: this.cellPhone,
            foto: this.photo,
            supervisor: this.supervisor,
            notas: this.notes
          })
          this.$router.push({ name: 'employees-list' })
        }
      } catch (err) {
        this.toastError(err)
      }
    },
    clear () {
      this.$refs.form.reset()
    }
  }
}
</script>
