<template>
  <v-container fluid grid-list-lg>
    <v-form ref="form" v-model="valid">
      <v-layout row wrap>
        <v-flex xs12 md6>
          <h1 class="text-xs-center">Agregar movimiento</h1>

          <v-card class="elevation-5">
            <v-card-text>
              <v-container grid-list-lg>
                <v-layout row wrap>
                  <v-flex xs12>
                    <v-select
                      single-line
                      required
                      label="Cliente"
                      item-text="nombre"
                      item-value="id"
                      v-model="id_client"
                      :items="clients"
                      :rules="requiredRule"
                    ></v-select>
                  </v-flex>
                  <v-flex xs12 md6>
                    <v-text-field
                      label="Forma de envío"
                      v-model="shipmentMethod"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 md6>
                    <v-text-field
                      label="Cargo de envío"
                      v-model="shipmentPosition"
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12>
                    <v-menu
                      v-model="transactionMenu"
                      lazy
                      offset-y
                      full-width
                      ref="transactionMenu"
                      min-width="290px"
                      :close-on-content-click="false"
                    >
                      <v-text-field
                        slot="activator"
                        v-model="transactionDate"
                        label="Fecha del movimiento"
                        readonly
                      ></v-text-field>
                      <v-date-picker
                        locale="es"
                        v-model="transactionDate"
                        no-title
                        scrollable
                      >
                        <v-spacer></v-spacer>
                        <v-btn flat color="primary" @click="transactionMenu = false">Cancelar</v-btn>
                        <v-btn flat color="primary" @click="$refs.transactionMenu.save(transactionDate)">Aceptar</v-btn>
                      </v-date-picker>
                    </v-menu>
                  </v-flex>

                  <v-flex xs12>
                    <v-menu
                      v-model="deliveryMenu"
                      lazy
                      offset-y
                      full-width
                      ref="deliveryMenu"
                      min-width="290px"
                      :close-on-content-click="false"
                    >
                      <v-text-field
                        slot="activator"
                        v-model="deliveryDate"
                        label="Fecha de entrega"
                        readonly
                      ></v-text-field>
                      <v-date-picker
                        locale="es"
                        v-model="deliveryDate"
                        no-title
                        scrollable
                      >
                        <v-spacer></v-spacer>
                        <v-btn flat color="primary" @click="deliveryMenu = false">Cancelar</v-btn>
                        <v-btn flat color="primary" @click="$refs.deliveryMenu.save(deliveryDate)">Aceptar</v-btn>
                      </v-date-picker>
                    </v-menu>
                  </v-flex>

                  <v-flex xs12>
                    <v-menu
                      v-model="shipmentMenu"
                      lazy
                      offset-y
                      full-width
                      ref="shipmentMenu"
                      min-width="290px"
                      :close-on-content-click="false"
                    >
                      <v-text-field
                        slot="activator"
                        v-model="shipmentDate"
                        label="Fecha de envío"
                        readonly
                      ></v-text-field>
                      <v-date-picker
                        locale="es"
                        v-model="shipmentDate"
                        no-title
                        scrollable
                      >
                        <v-spacer></v-spacer>
                        <v-btn flat color="primary" @click="shipmentMenu = false">Cancelar</v-btn>
                        <v-btn flat color="primary" @click="$refs.shipmentMenu.save(shipmentDate)">Aceptar</v-btn>
                      </v-date-picker>
                    </v-menu>
                  </v-flex>

                  <v-flex xs12>
                    <v-btn
                      class="primary"
                      :disabled="!valid"
                      @click="submit"
                    >
                      Agregar
                    </v-btn>
                    <v-btn flat @click="clear">Reset</v-btn>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs12 md6>
          <h1 class="text-xs-center">Detalles</h1>
          <template v-for="(detail, index) in details">
            <v-card :key="index" class="mb-3">
              <v-card-title primary-title>
                <h3 class="headline">
                  Detalle {{ index + 1 }}
                </h3>
              </v-card-title>
              <v-card-text>
                <v-layout wrap>
                  <v-flex xs12>
                    <v-select
                      single-line
                      required
                      label="Servicio"
                      item-text="nombre"
                      item-value="id"
                      v-model="detail.id_servicio"
                      :items="services"
                      :rules="requiredRule"
                    ></v-select>
                  </v-flex>
                  <v-flex xs12>
                    <v-text-field
                      label="Cantidades vendidas"
                      v-model.number="detail.cantidades_vendidas"
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12>
                    <v-text-field
                      label="Cantidades recibidas"
                      v-model.number="detail.cantidades_recibidas"
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12>
                    <v-text-field
                      label="Cantidades en stock"
                      v-model.number="detail.cantidades_stock"
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12>
                    <v-text-field
                      label="Precio por unidad"
                      v-model.number="detail.precio_unidad"
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12>
                    <v-text-field
                      label="Descuento"
                      v-model.number="detail.descuento"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-card>
          </template>
          <v-divider/>
          <v-btn class="success" @click="addDetail">
            Agregar detalle
          </v-btn>
          <v-btn class="error" @click="removeDetail">
            Eliminar detalle
          </v-btn>
        </v-flex>
      </v-layout>
    </v-form>
  </v-container>
</template>

<script>
import ClientsService from '@/services/clients-service'
import ServicesService from '@/services/services-service'
import TransactionsService from '@/services/transactions-service'

export default {
  name: 'AdminTransactionsAdd',
  data () {
    return {
      valid: false,
      requiredRule: [
        v => !!v || 'Este campo es requerido'
      ],
      services: [],
      details: [],
      clients: [],
      id_client: null,
      transactionMenu: false,
      deliveryMenu: false,
      shipmentMenu: false,
      shipmentMethod: '',
      shipmentPosition: '',
      transactionDate: null,
      deliveryDate: null,
      shipmentDate: null
    }
  },
  async created () {
    try {
      const services = (await ServicesService.getAll()).data
      this.services = services
      const clients = (await ClientsService.getAll()).data
      this.clients = clients
    } catch (err) {
      this.toastError(err)
    }
  },
  methods: {
    async submit () {
      try {
        if (this.$refs.form.validate()) {
          await TransactionsService.add({
            transaction: {
              id_cliente: this.id_client,
              nombre_pagador: this.fullName,
              direccion_pagador: this.address,
              ciudad_pagador: this.city,
              estado_pagador: this.state,
              pais_pagador: this.country,
              rif_pagador: this.rif,
              nit_pagador: this.nit,
              telefono_pagador: this.phoneNumber,
              fax_pagador: this.faxNumber,
              correo_pagador: this.email,
              forma_envio: this.shipmentMethod,
              cargo_envio: this.shipmentPosition,
              fecha_movimiento: this.transactionDate,
              fecha_envio: this.shipmentDate,
              fecha_entrega: this.deliveryDate
            },
            details: this.details
          })
          this.$router.push({ name: 'transactions-list' })
        }
      } catch (err) {
        this.toastError(err)
      }
    },
    clear () {
      this.$refs.form.reset()
    },
    addDetail () {
      this.details.push({
        id_servicio: null,
        cantidades_vendidas: 0,
        cantidades_recibidas: 0,
        cantidades_stock: 0,
        precio_unidad: 0,
        descuento: 0
      })
    },
    removeDetail () {
      this.details.pop()
    }
  }
}
</script>
