<template>
  <v-flex xs12 md6>
    <h1 class="text-xs-center">Agregar proveedor</h1>
    <v-form ref="form" v-model="valid">
      <v-container grid-list-lg>
        <v-layout row wrap>
          <v-flex xs12>
            <v-text-field
              label="Nombre de la compañía"
              v-model="companyName"
              :rules="requiredRule"
              required
            ></v-text-field>
          </v-flex>

          <v-flex xs12 md6>
            <v-text-field
              label="Nombre de contacto"
              v-model="contactName"
              :rules="requiredRule"
              required
            ></v-text-field>
          </v-flex>
          <v-flex xs12 md6>
            <v-text-field
              label="Cargo del contacto"
              v-model="contactPosition"
            ></v-text-field>
          </v-flex>

          <v-flex xs12>
            <v-text-field
              label="Dirección"
              v-model="address"
            ></v-text-field>
          </v-flex>

          <v-flex xs12 md3>
            <v-text-field
              label="País"
              v-model="country"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 md3>
            <v-text-field
              label="Ciudad"
              v-model="city"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 md3>
            <v-text-field
              label="Región"
              v-model="region"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 md3>
            <v-text-field
              label="Código postal"
              v-model="zipCode"
            ></v-text-field>
          </v-flex>

          <v-flex xs12 md6>
            <v-text-field
              label="Número de teléfono"
              v-model="phoneNumber"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 md6>
            <v-text-field
              label="Número de fax"
              v-model="faxNumber"
            ></v-text-field>
          </v-flex>

          <v-flex xs12>
            <v-text-field
              label="Página web"
              v-model="website"
            ></v-text-field>
          </v-flex>

          <v-flex xs12>
            <v-btn
              class="primary"
              :disabled="!valid"
              @click="submit"
            >
              Agregar
            </v-btn>
            <v-btn @click="clear">Reset</v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-form>
  </v-flex>
</template>

<script>
import ProvidersService from '@/services/providers-service'

export default {
  name: 'AdminProvidersAdd',
  data () {
    return {
      valid: false,
      requiredRule: [
        v => !!v || 'Este campo es requerido'
      ],
      companyName: '',
      contactName: '',
      contactPosition: '',
      address: '',
      country: '',
      city: '',
      region: '',
      zipCode: null,
      phoneNumber: '',
      faxNumber: '',
      website: ''
    }
  },
  methods: {
    async submit () {
      try {
        if (this.$refs.form.validate()) {
          await ProvidersService.add({
            nombre_compania: this.companyName,
            nombre_contacto: this.contactName,
            cargo_contacto: this.contactPosition,
            direccion: this.address,
            ciudad: this.city,
            region: this.region,
            codigo_postal: this.zipCode,
            pais: this.country,
            telefono: this.phoneNumber,
            fax: this.faxNumber,
            pagina_principal: this.website
          })
          this.$router.push({ name: 'providers-list' })
        }
      } catch (err) {
        this.toastError(err)
      }
    },
    clear () {
      this.$refs.form.reset()
    }
  }
}
</script>
