<template>
  <v-flex xs12>
    <h1 class="text-xs-center mb-3">Movimiento</h1>
    <v-container grid-list-lg>
      <v-layout row wrap>
        <v-flex md6>
          <v-card>
            <v-card-media class="blue accent-1 blue--text text--lighten-5">
              <v-layout column justify-content class="media">
                <v-card-title>
                  <v-btn dark icon :to="{ name: 'transactions-list' }">
                    <v-icon>chevron_left</v-icon>
                  </v-btn>
                  <div class="display-1 ml-3">{{ name }}</div>
                </v-card-title>
              </v-layout>
            </v-card-media>
            <v-list two-line>
              <tile-detail
                :value="formatDate(transaccion.fecha_movimiento)"
                icon="calendar_today"
                label="Fecha"/>

              <tile-detail
                :value="formatDate(transaccion.fecha_entrega)"
                icon="calendar_today"
                label="Fecha de entrega"/>

              <tile-detail
                :value="formatDate(transaccion.fecha_envio)"
                icon="calendar_today"
                label="Fecha de envío"/>

              <v-divider inset></v-divider>

              <tile-detail
                :value="transaccion.forma_envio"
                label="Forma de envío"/>

              <tile-detail
                :value="transaccion.cargo_envio"
                label="Cargo de envío"/>

              <v-divider inset></v-divider>
            </v-list>
          </v-card>
        </v-flex>
        <v-flex md6>
          <v-card v-for="(detalle, key) in transaccion.detalles" :key="detalle.id" class="mb-3">
            <v-card-media>
              <v-layout column justify-content class="media">
                <v-card-title>
                  <div class="display-1 ml-3">Detalle {{ key + 1 }}</div>
                </v-card-title>
              </v-layout>
            </v-card-media>
            <v-list two-line>
              <tile-detail
                v-model="detalle.servicio.nombre"
                label="Nombre del servicio/producto"/>
              <tile-detail
                v-model="detalle.cantidades_vendidas"
                label="Cantidades vendidas"/>
              <tile-detail
                v-model="detalle.cantidades_recibidas"
                label="Cantidades recibidas"/>
              <tile-detail
                v-model="detalle.cantidades_stock"
                label="Cantidades en stock"/>
              <tile-detail
                v-model="detalle.precio_unidad"
                icon="attach_money"
                label="Precio por unidad"/>
              <tile-detail
                v-model="detalle.descuento"
                label="Descuento"/>
            </v-list>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-flex>
</template>

<script>
import moment from 'moment'
import TransactionsService from '@/services/transactions-service'
import TileDetail from '@/components/TileDetail'

export default {
  name: 'AdminClientsDetails',
  props: ['id'],
  components: {
    TileDetail
  },
  data () {
    return {
      transaccion: {
        detalles: []
      }
    }
  },
  async created () {
    try {
      const transaction = (await TransactionsService.get(this.id)).data
      this.transaccion = transaction
    } catch (err) {
      this.toastError(err)
    }
  },
  computed: {
    name () {
      if (
        this.transaccion &&
        typeof this.transaccion === 'object' &&
        this.transaccion.hasOwnProperty('cliente')
      ) {
        return this.transaccion.cliente.nombre
      } else {
        return this.id
      }
    }
  },
  methods: {
    formatDate (date) {
      if (date) {
        return moment(date).format('DD-MM-YYYY') || '-'
      } else {
        return '-'
      }
    }
  }
}
</script>
