<template>
  <v-container fluid grid-list-lg>
    <v-layout row wrap>
      <v-flex xs12 sm6 md4 xl3>
        <v-card
          dark
          class="text-xs-center"
          color="primary"
        >
          <v-card-text>
            <div class="display-2 font-weight-thin my-3">
              {{ clients.length }}
              Clientes
            </div>
          </v-card-text>

          <v-divider />

          <v-card-actions>
            <v-btn block flat to="/clientes">Ir a clientes</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>

      <v-flex xs12 sm6 md4 xl3>
        <v-card
          dark
          class="text-xs-center"
          color="secondary"
        >
          <v-card-text>
            <div class="display-2 font-weight-thin my-3">
              {{ nodes.length }}
              Nodos
            </div>
          </v-card-text>

          <v-divider />

          <v-card-actions>
            <v-btn block flat to="/nodos">Ir a nodos</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>

      <v-flex xs12 sm6 md4 xl3>
        <v-card
          dark
          class="text-xs-center"
          color="blue accent-1"
        >
          <v-card-text>
            <div class="display-2 font-weight-thin my-3">
              {{ plans.length }}
              Planes
            </div>
          </v-card-text>

          <v-divider />

          <v-card-actions>
            <v-btn block flat to="/planes">Ir a planes</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import LayoutAdmin from '@/components/LayoutAdmin'
import ClientsService from '@/services/clients-service'
import NodesService from '@/services/nodes-service'
import PlansService from '@/services/plans-service'

export default {
  name: 'AdminHome',
  components: {
    LayoutAdmin
  },
  data () {
    return {
      clients: [],
      nodes: [],
      plans: []
    }
  },
  async created () {
    try {
      const clients = (await ClientsService.getAll()).data
      const nodes = (await NodesService.getAll()).data
      const plans = (await PlansService.getAll()).data

      this.clients = clients
      this.nodes = nodes
      this.plans = plans
    } catch (err) {
      console.log(err)
      this.toastError(err)
    }
  }
}
</script>

<style scoped>
.hero.welcome.is-info {
  background: #36D1DC;
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  background: linear-gradient(to right, #5B86E5, #36D1DC);
}
.hero.welcome .title, .hero.welcome .subtitle {
  color: hsl(192, 17%, 99%);
}
</style>
