<template>
  <v-container fluid grid-list-lg>
    <service-form @submit="submit" title="Agregar servicio" />
  </v-container>
</template>

<script>
import ServicesService from '@/services/services-service'
import ServiceForm from '@/components/Service/ServiceForm'

export default {
  name: 'AdminServicesAdd',
  props: {
    id: {
      type: String
    }
  },
  components: {
    ServiceForm
  },
  methods: {
    async submit (data) {
      try {
        data.service.id_cliente = this.id
        data.service.status = 'Activo'
        await ServicesService.add({
          service: data.service
        })
        this.$router.push({ name: 'clients-details', params: { id: this.id } })
      } catch (err) {
        this.toastError(err)
      }
    }
  }
}
</script>
