<template>
  <v-container fluid grid-list-lg>
    <client-form @submit="submit"/>
  </v-container>
</template>

<script>
import ClientsService from '@/services/clients-service'
import ClientForm from '@/components/ClientForm'

export default {
  name: 'AdminClientsAdd',
  components: {
    ClientForm
  },
  methods: {
    async submit (data) {
      try {
        await ClientsService.add({
          client: data.client,
          services: data.services
        })
        this.$router.push({ name: 'clients-list' })
      } catch (err) {
        this.toastError(err)
      }
    }
  }
}
</script>
