<template>
  <v-flex>
    <h1>Lista de empleados</h1>
    <v-data-table
      hide-actions
      class="elevation-2 mt-3"
      :headers="headers"
      :items="employees"
    >
      <template slot="items" slot-scope="{ item }">
        <tr @click="showEmployee(item)">
          <td>{{ item.nombres }}</td>
          <td>{{ item.apellidos }}</td>
          <td>{{ item.cedula }}</td>
          <td>{{ item.cargo }}</td>
        </tr>
      </template>
      <template slot="no-data">
        No se han encontrado empleados
      </template>
    </v-data-table>
  </v-flex>
</template>

<script>
import EmployeesService from '@/services/employees-service'

export default {
  name: 'AdminEmployeesList',
  data () {
    return {
      employees: [],
      selected: null,
      headers: [
        { value: 'nombres', text: 'Nombres' },
        { value: 'apellidos', text: 'Apellidos' },
        { value: 'cedula', text: 'Cédula' },
        { value: 'cargo', text: 'Cargo' }
      ]
    }
  },
  async created () {
    try {
      const { data } = await EmployeesService.getAll()
      this.employees = data
    } catch (err) {
      this.toastError(err)
    }
  },
  methods: {
    showEmployee (item) {
      this.$router.push({ name: 'employees-details', params: { id: item.id } })
    }
  }
}
</script>
