<template>
  <v-flex>
    <h1>Lista de movimientos</h1>
    <v-data-table
      hide-actions
      class="elevation-2 mt-3"
      :headers="headers"
      :items="transactions"
    >
      <template slot="items" slot-scope="{ item }">
        <tr @click="showTransaction(item)">
          <td>{{ item.cliente.nombre || '-' }}</td>
          <td>{{ item.cliente.telefono1 || '-' }}</td>
          <td>{{ item.cliente.correo1 || '-' }}</td>
          <td>{{ formatDate(item.fecha_movimiento) }}</td>
        </tr>
      </template>
      <template slot="no-data">
        No se han encontrado movimientos
      </template>
    </v-data-table>
  </v-flex>
</template>

<script>
import moment from 'moment'
import TransactionsService from '@/services/transactions-service'

export default {
  name: 'AdminTransactionsList',
  data () {
    return {
      transactions: [],
      selected: null,
      headers: [
        { value: 'nombre_pagador', text: 'Nombre' },
        { value: 'telefono_pagador', text: 'Teléfono' },
        { value: 'correo_pagador', text: 'Correo' },
        { value: 'fecha_movimiento', text: 'Fecha' }
      ]
    }
  },
  async created () {
    try {
      const { data } = await TransactionsService.getAll()
      this.transactions = data
    } catch (err) {
      this.toastError(err)
    }
  },
  methods: {
    showTransaction (item) {
      this.$router.push({ name: 'transactions-details', params: { id: item.id } })
    },
    formatDate (date) {
      return moment(date).format('DD-MM-YYYY') || '-'
    }
  }
}
</script>
