<template>
  <div>
    <div class="jumbotron jumbotron-fluid bg-primary text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg text-center">
            <object type="image/svg+xml" data="/static/antena.svg" id="antena"></object>
          </div>
          <div class="col-lg">
            <p class="lead">
              SW Sistemas es una empresa del ramo de las telecomunicaciones,
              orientada a brindarle un servicio de conectividad a Internet de
              excelente calidad, con planes especialmente diseñados para usted
              y sus necesidades.
            </p>
            <p class="lead">
              Trabajamos a través de antenas de microondas, conectada desde su
              domicilio u oficina hasta el nodo disponible mas cercano, brindando
              servicio pre y post venta para asegurar su conexión. Nuestra zona
              de cobertura comprende la zona norte de Anzoátegui.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center mb-4">
        <div class="col">
          <h1 class="display-4">Planes</h1>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-lg">
          <object type="image/svg+xml" data="/static/img/plan_residencial.svg" class="plan"></object>
          <h3>Residencial</h3>
          <p class="lead">
            Cuenta con planes de ancho de banda de hasta 10 Mbps de conexión,
            con factor de reuso (1:2), para que usted pueda brindar de las
            bondades del mundo 2.0 desde la comodidad de su hogar.
          </p>
        </div>
        <div class="col-lg">
          <object type="image/svg+xml" data="/static/img/plan_comercial.svg" class="plan"></object>
          <h3>Comercial</h3>
          <p class="lead">
            Cuenta con planes a partir de 1 Mbps, con un factor de reuso
            controlado, con el cual usted goza de monitoreo de calidad 24/7
            y asesoria post venta personalizada, con opción de expandir su
            red a servicios de cámaras, servidores, entre otros.
          </p>
        </div>
        <div class="col-lg">
          <object type="image/svg+xml" data="/static/img/plan_dedicado.svg" class="plan"></object>
          <h3>Dedicado</h3>
          <p class="lead">
            Servicio conectado directamente a nuestros servidores, con ancho
            de banda 100% real en cualquier momento, nateado a través de nuestra
            IP pública.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LayoutBasic from '@/components/LayoutBasic'

export default {
  name: 'PageHome',
  components: {
    LayoutBasic
  }
}
</script>

<style scoped>
#antena {
  max-width: 70%;
}

.jumbotron p.lead {
  font-weight: 500;
  font-size: 1.5rem;
}

.plan {
  max-width: 30%;
}
</style>
