<template>
<v-form ref="form" v-model="valid">
  <v-layout row wrap>
    <v-flex xs12 md6>
      <v-card class="elevation-5">
        <v-card-title primary-title class="pb-0">
          <v-flex justify-center class="pb-0">
            <h3 class="headline text-xs-center">{{ title }}</h3>
          </v-flex>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-lg>
            <v-layout row wrap>
              <v-flex xs12>
                <v-text-field
                  label="Nombre"
                  v-model="client.nombre"
                  :rules="requiredRule"
                  required
                  ></v-text-field>
              </v-flex>

              <v-flex xs12 lg6>
                <v-text-field
                  label="Correo 1"
                  v-model="client.correo1"
                  ></v-text-field>
              </v-flex>
              <v-flex xs12 lg6>
                <v-text-field
                  label="Correo 2"
                  v-model="client.correo2"
                  ></v-text-field>
              </v-flex>

              <v-flex xs12 md6>
                <v-text-field
                  label="Cédula"
                  v-model="client.cedula"
                  ></v-text-field>
              </v-flex>
              <v-flex xs12 md6>
                <v-text-field
                  label="RIF del representante legal"
                  v-model="client.rif"
                  ></v-text-field>
              </v-flex>

              <v-flex xs12>
                <v-text-field
                  label="Contacto"
                  v-model="client.contacto"
                  ></v-text-field>
              </v-flex>

              <v-flex xs12 md6>
                <v-text-field
                  label="Nombre de la compañía"
                  v-model="client.compania"
                  ></v-text-field>
              </v-flex>
              <v-flex xs12 md6>
                <v-text-field
                  label="Cargo"
                  v-model="client.cargo"
                  ></v-text-field>
              </v-flex>

              <v-flex xs12>
                <v-text-field
                  label="Dirección"
                  v-model="client.direccion"
                  ></v-text-field>
              </v-flex>

              <v-flex xs12 md4>
                <v-text-field
                  label="País"
                  v-model="client.pais"
                  ></v-text-field>
              </v-flex>
              <v-flex xs12 md4>
                <v-text-field
                  label="Estado"
                  v-model="client.estado"
                  ></v-text-field>
              </v-flex>
              <v-flex xs12 md4>
                <v-text-field
                  label="Ciudad"
                  v-model="client.ciudad"
                  ></v-text-field>
              </v-flex>

              <v-flex xs12 lg4>
                <v-text-field
                  label="Número de teléfono 1"
                  v-model="client.telefono1"
                  ></v-text-field>
              </v-flex>
              <v-flex xs12 lg4>
                <v-text-field
                  label="Número de teléfono 2"
                  v-model="client.telefono2"
                  ></v-text-field>
              </v-flex>
              <v-flex xs12 lg4>
                <v-text-field
                  label="Número de Fax"
                  v-model="client.fax"
                  ></v-text-field>
              </v-flex>

              <v-flex xs12>
                <v-textarea
                  label="Observaciones"
                  v-model="client.observaciones"
                  ></v-textarea>
              </v-flex>

              <v-flex xs12>
                <v-btn
                  class="primary"
                  :disabled="!valid"
                  @click="submit"
                  >
                  {{ !!clientId ? 'Actualizar' : 'Agregar' }}
                </v-btn>
                <v-btn flat @click="clear">Reset</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex xs12 md6>
      <h1 class="text-xs-center" v-if="services.length < 1">Servicios</h1>
      <template v-for="(service, index) in services">
        <v-card :key="index" class="mb-3">
          <v-card-title primary-title>
            <h3 class="headline text-xs-center">
              Servicio {{ index + 1 }}
            </h3>
            <v-spacer/>
            <v-tooltip left>
              <v-btn
                icon
                dark
                class="red"
                slot="activator"
                @click="removeService(index)"
                >
                <v-icon>clear</v-icon>
              </v-btn>
              <span>Eliminar servicio</span>
            </v-tooltip>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-lg>
              <v-layout wrap>
                <v-flex xs12>
                  <v-select
                    single-line
                    required
                    label="Nodo"
                    item-text="nombre"
                    item-value="id"
                    v-model="service.id_nodo"
                    :items="nodes"
                    :rules="requiredRule"
                    @input="getProfiles(service.id_nodo)"
                    ></v-select>
                </v-flex>
                <v-flex xs12>
                  <v-select
                    single-line
                    required
                    label="Status"
                    v-model="service.status"
                    :items="status"
                    :rules="requiredRule"
                    ></v-select>
                </v-flex>
                <v-flex xs12>
                  <v-select
                    single-line
                    required
                    label="Plan"
                    v-model="service.plan"
                    :disabled="!profiles.hasOwnProperty(service.id_nodo) || profiles[service.id_nodo].length < 1"
                    :items="profiles[service.id_nodo]"
                    :rules="requiredRule"
                    ></v-select>
                </v-flex>
                <v-flex xs12 lg6>
                  <v-text-field
                    persistent-hint
                    label="Usuario (name)"
                    v-model="service.name"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12 lg6>
                  <v-text-field
                    label="Contraseña"
                    v-model="service.password"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field
                    return-masked-value
                    label="MAC"
                    v-model="service.mac"
                    mask="NN:NN:NN:NN:NN:NN"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-select
                    required
                    single-line
                    label="Server"
                    v-model="service.server"
                    :disabled="!servers.hasOwnProperty(service.id_nodo) || servers[service.id_nodo].length < 1"
                    :items="servers[service.id_nodo]"
                    :rules="requiredRule"
                    ></v-select>
                </v-flex>
                <v-flex xs12>
                  <v-text-field
                    label="Dirección IP (address)"
                    v-model="service.address"
                    ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
        </v-card>
      </template>
      <v-divider/>
      <v-btn class="success" @click="addService">
        Agregar servicio
      </v-btn>
    </v-flex>
  </v-layout>
</v-form>
</template>

<script>
import NodesService from '@/services/nodes-service'
import ClientsService from '@/services/clients-service'

export default {
  name: 'ClientForm',
  props: {
    title: {
      default: 'Agregar cliente',
      type: String
    },
    clientId: {
      type: Number
    }
  },
  data () {
    return {
      valid: false,
      requiredRule: [
        v => !!v || 'Este campo es requerido'
      ],
      nodes: [],
      profiles: {},
      servers: {},
      services: [],
      status: [
        'Activo',
        'Suspendido',
        'Moroso',
        'Retirado'
      ],
      client: {
        nombre: '',
        correo1: '',
        correo2: '',
        cedula: '',
        rif: '',
        contacto: '',
        compania: '',
        cargo: '',
        direccion: '',
        pais: '',
        estado: '',
        ciudad: '',
        telefono1: '',
        telefono2: '',
        fax: '',
        observaciones: ''
      }
    }
  },
  async created () {
    try {
      const nodes = (await NodesService.getAll()).data
      this.nodes = nodes

      if (this.clientId) {
        const client = (await ClientsService.get(this.clientId)).data
        this.winbox = client.winbox

        delete client.winbox
        delete client.id
        this.client = client

        let nodeInfo = (await NodesService.getInfo(client.id_nodo)).data
        nodeInfo.servers.unshift('all')
        this.profiles = nodeInfo.profiles
        this.servers = nodeInfo.servers
      }
    } catch (err) {
      this.toastError(err)
    }
  },
  methods: {
    submit () {
      if (this.$refs.form.validate()) {
        this.$emit('submit', {
          client: this.client,
          services: this.services
        })
      }
    },
    clear () {
      this.$refs.form.reset()
    },
    addService () {
      this.services.push({
        id_nodo: null,
        status: 'Activo',
        plan: '',
        name: '',
        password: '',
        server: '',
        mac: '',
        address: ''
      })
    },
    removeService (index) {
      this.services.splice(index, 1)
    },
    async getProfiles (nodeId) {
      if (!nodeId) {
        return
      }

      try {
        let { data } = await NodesService.getInfo(nodeId)
        data.servers.unshift('all')
        if (!this.profiles.hasOwnProperty(nodeId)) {
          let profile = {}
          profile[nodeId] = data.profiles
          this.profiles = Object.assign({}, this.profiles, profile)
        }

        if (!this.servers.hasOwnProperty(nodeId)) {
          let server = {}
          server[nodeId] = data.servers
          this.servers = Object.assign({}, this.servers, server)
        }
      } catch (err) {
        console.error(err)
      }
    }
  }
}
</script>
