<template>
  <v-app id="inspire">
    <the-admin-sidebar :drawer="drawer"/>
    <the-admin-header @toggle-drawer="drawer = !drawer"/>
    <v-content>
      <v-container fluid>
        <v-layout justify-center>
          <router-view/>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import TheAdminHeader from '@/components/TheAdminHeader'
import TheAdminSidebar from '@/components/TheAdminSidebar'

export default {
  name: 'LayoutAdmin',
  data () {
    return {
      drawer: true
    }
  },
  components: {
    TheAdminHeader,
    TheAdminSidebar
  }
}
</script>
