<template>
  <v-navigation-drawer
    :clipped="$vuetify.breakpoint.lgAndUp"
    :value.sync="drawer"
    class="blue-grey lighten-5"
    floating
    fixed
    app
  >
    <v-toolbar flat class="transparent">
      <v-list class="pa-0">
        <v-list-tile avatar>
          <v-list-tile-avatar>
            <v-icon class="primary" dark>person</v-icon>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ $store.getters.user.nombres || 'usuario' }}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-toolbar>
    <v-list class="pt-0" dense>
      <v-divider></v-divider>
      <template v-for="item in items">
        <v-layout
          v-if="item.heading"
          :key="item.heading"
          row
          align-center
        >
          <v-flex xs6>
            <v-subheader v-if="item.heading">
              {{ item.heading }}
            </v-subheader>
          </v-flex>
          <v-flex xs6 class="text-xs-center">
            <a href="#!" class="body-2 black--text">EDIT</a>
          </v-flex>
        </v-layout>
        <v-list-group
          v-else-if="item.children"
          v-model="item.model"
          :key="item.text"
          :prepend-icon="item.icon"
        >
          <v-list-tile slot="activator">
            <v-list-tile-content>
              <v-list-tile-title>
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile
            exact
            v-for="(child, i) in item.children"
            :key="i"
            :to="child.to"
          >
            <v-list-tile-action></v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ child.text }}
              </v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action v-if="child.icon">
              <v-icon>{{ child.icon }}</v-icon>
            </v-list-tile-action>
          </v-list-tile>
        </v-list-group>
        <v-list-tile exact v-else :key="item.text" :to="item.to">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ item.text }}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: 'TheAdminSidebar',
  props: ['drawer'],
  data () {
    return {
      items: [
        { icon: 'dashboard', text: 'Inicio', to: { name: 'admin-home' } },
        // {
        //   icon: 'person_pin',
        //   text: 'Empleados',
        //   model: false,
        //   children: [
        //     { icon: 'add', text: 'Agregar', to: { name: 'employees-add' } },
        //     { icon: 'list', text: 'Lista', to: { name: 'employees-list' } }
        //   ]
        // },
        // {
        //   icon: 'business',
        //   text: 'Proveedores',
        //   model: false,
        //   children: [
        //     { icon: 'add', text: 'Agregar', to: { name: 'providers-add' } },
        //     { icon: 'list', text: 'Lista', to: { name: 'providers-list' } }
        //   ]
        // },
        {
          icon: 'dns',
          text: 'Nodos',
          model: false,
          children: [
            { icon: 'add', text: 'Agregar', to: { name: 'nodes-add' } },
            { icon: 'list', text: 'Lista', to: { name: 'nodes-list' } }
          ]
        },
        {
          icon: 'list',
          text: 'Planes',
          model: false,
          children: [
            { icon: 'add', text: 'Agregar', to: { name: 'plans-add' } },
            { icon: 'list', text: 'Lista', to: { name: 'plans-list' } }
          ]
        },
        // {
        //   icon: 'attach_money',
        //   text: 'Movimientos',
        //   model: false,
        //   children: [
        //     { icon: 'add', text: 'Agregar', to: { name: 'transactions-add' } },
        //     { icon: 'list', text: 'Lista', to: { name: 'transactions-list' } }
        //   ]
        // },
        {
          icon: 'people',
          text: 'Clientes',
          model: false,
          children: [
            { icon: 'add', text: 'Agregar', to: { name: 'clients-add' } },
            { icon: 'list', text: 'Lista', to: { name: 'clients-list' } }
          ]
        }
      ]
    }
  }
}
</script>
