<template>
  <v-toolbar
    :clipped-left="$vuetify.breakpoint.lgAndUp"
    color="blue darken-3"
    dark
    app
    fixed
  >
    <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
      <v-toolbar-side-icon @click.stop="$emit('toggle-drawer')"></v-toolbar-side-icon>
      <span class="hidden-sm-and-down">SW Sistemas</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-tooltip bottom>
      <v-btn slot="activator" icon @click="logout">
        <v-icon>exit_to_app</v-icon>
      </v-btn>
      <span>Salir del sistema</span>
    </v-tooltip>
  </v-toolbar>
</template>

<script>
export default {
  name: 'TheAdminHeader',
  computed: {
    loggedIn () {
      return this.$store.getters.loggedIn
    }
  },
  methods: {
    async logout () {
      try {
        await this.$store.dispatch('destroyToken')
        this.$router.push({ name: 'admin-login' })
      } catch (err) {
        this.toastError(err)
      }
    }
  }
}
</script>

<style scoped>
nav.navbar {
  margin-bottom: 1rem;
}
.navbar-item {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
}
</style>
