<template>
  <div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-6 col-md">
          <h5>Teléfonos</h5>
          <ul class="list-unstyled text-small">
            <li class="text-muted">0281 5145354</li>
            <li class="text-muted">0281 4187143</li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Correos</h5>
          <ul class="list-unstyled text-small">
            <li>
              <a class="text-muted" href="mailto:swsistemas@outlook.com">
                swsistemas@outlook.com
              </a>
            </li>
            <li>
              <a class="text-muted" href="mailto:solucioneswireless1@gmail.com">
                solucioneswireless1@gmail.com
              </a>
            </li>
            <li>
              <a class="text-muted" href="mailto:solucioneswireless2@gmail.com">
                solucioneswireless2@gmail.com
              </a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Redes sociales</h5>
          <ul class="list-unstyled text-small">
            <li>
              <a class="text-muted" href="https://www.facebook.com/swsistemasca/?fref=ts">
                Facebook
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'TheFooter'
}
</script>
