<template>
  <v-list-tile>
    <v-list-tile-action>
      <v-icon v-if="icon">{{ icon }}</v-icon>
    </v-list-tile-action>
    <v-list-tile-content>
      <v-list-tile-title>{{ attr(value) }}</v-list-tile-title>
      <v-list-tile-sub-title>{{ label }}</v-list-tile-sub-title>
    </v-list-tile-content>
  </v-list-tile>
</template>

<script>
export default {
  name: 'TileDetail',
  props: ['icon', 'value', 'label'],
  methods: {
    attr (value) {
      if (this.value) {
        return this.value
      } else {
        return '-'
      }
    }
  }
}
</script>
