<template>
  <v-card v-if="client">
    <v-card-media class="blue accent-5 blue--text text--lighten-5">
      <v-layout column justify-content class="media">
        <v-card-title>
          <v-btn dark icon :to="{ name: 'clients-list' }">
            <v-icon>chevron_left</v-icon>
          </v-btn>
          <div class="display-1 ml-3">{{ client.nombre }}</div>
          <v-spacer></v-spacer>
          <v-btn dark icon :to="{ name: 'clients-edit', params: { id: client.id } }">
            <v-icon>edit</v-icon>
          </v-btn>
        </v-card-title>
      </v-layout>
    </v-card-media>
    <v-card-actions class="pa-3">
      Acciones:
      <v-spacer></v-spacer>
      <v-btn
        outline
        color="success"
        :to="{ name: 'services-add', params: { id: client.id } }"
        >Agregar servicio</v-btn>
    </v-card-actions>
    <v-divider></v-divider>
    <v-list two-line>
      <tile-detail
        v-model="client.nombre"
        icon="person"
        label="Nombre"/>
      <tile-detail
        v-model="client.cedula"
        icon="portrait"
        label="Cédula"/>
      <tile-detail v-model="client.rif" icon="portrait" label="RIF"/>
      <tile-detail v-model="client.contacto" icon="person" label="Contacto"/>

      <v-divider inset></v-divider>

      <tile-detail
        v-model="client.compania"
        icon="domain"
        label="Compañía"/>
      <tile-detail v-model="client.cargo" icon="group" label="Cargo"/>

      <v-divider inset></v-divider>

      <tile-detail
        v-model="client.correo1"
        icon="email"
        label="Correo"/>
      <tile-detail
        v-model="client.correo2"
        icon="email"
        label="Correo alternativo"/>

      <v-divider inset></v-divider>

      <tile-detail v-model="client.pais" label="País"/>
      <tile-detail v-model="client.ciudad" label="Ciudad"/>
      <tile-detail v-model="client.region" label="Región"/>
      <tile-detail
        v-model="client.direccion"
        icon="place"
        label="Dirección"/>

      <v-divider inset></v-divider>

      <tile-detail
        v-model="client.telefono1"
        icon="call"
        label="Número de teléfono"/>
      <tile-detail
        v-model="client.telefono2"
        icon="call"
        label="Número de teléfono alternativo"/>
      <tile-detail
        v-model="client.fax"
        icon="call"
        label="Fax"/>

      <v-divider inset></v-divider>

      <tile-detail
        v-model="client.observaciones"
        icon="notes"
        label="Observaciones"/>
    </v-list>
  </v-card>
</template>

<script>
import TileDetail from '@/components/TileDetail'

export default {
  name: 'ClientInfo',
  props: ['client'],
  components: {
    TileDetail
  }
}
</script>
