<template>
  <v-layout justify-center row wrap>
    <v-flex xs12 md8>
      <v-form ref="form" v-model="valid">
        <v-card class="elevation-2">
          <v-card-title primary-title class="pb-0">
            <v-flex justify-center class="pb-0">
              <h3 class="headline text-xs-center">{{ title }}</h3>
            </v-flex>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-lg>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field
                    label="Nombre"
                    v-model="client.nombre"
                    :rules="requiredRule"
                    required
                    ></v-text-field>
                </v-flex>

                <v-flex xs12 lg6>
                  <v-text-field
                    label="Correo 1"
                    v-model="client.correo1"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12 lg6>
                  <v-text-field
                    label="Correo 2"
                    v-model="client.correo2"
                    ></v-text-field>
                </v-flex>

                <v-flex xs12 md6>
                  <v-text-field
                    label="Cédula"
                    v-model="client.cedula"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12 md6>
                  <v-text-field
                    label="RIF del representante legal"
                    v-model="client.rif"
                    ></v-text-field>
                </v-flex>

                <v-flex xs12>
                  <v-text-field
                    label="Contacto"
                    v-model="client.contacto"
                    ></v-text-field>
                </v-flex>

                <v-flex xs12 md6>
                  <v-text-field
                    label="Nombre de la compañía"
                    v-model="client.compania"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12 md6>
                  <v-text-field
                    label="Cargo"
                    v-model="client.cargo"
                    ></v-text-field>
                </v-flex>

                <v-flex xs12>
                  <v-text-field
                    label="Dirección"
                    v-model="client.direccion"
                    ></v-text-field>
                </v-flex>

                <v-flex xs12 md4>
                  <v-text-field
                    label="País"
                    v-model="client.pais"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12 md4>
                  <v-text-field
                    label="Estado"
                    v-model="client.estado"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12 md4>
                  <v-text-field
                    label="Ciudad"
                    v-model="client.ciudad"
                    ></v-text-field>
                </v-flex>

                <v-flex xs12 lg4>
                  <v-text-field
                    label="Número de teléfono 1"
                    v-model="client.telefono1"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12 lg4>
                  <v-text-field
                    label="Número de teléfono 2"
                    v-model="client.telefono2"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12 lg4>
                  <v-text-field
                    label="Número de Fax"
                    v-model="client.fax"
                    ></v-text-field>
                </v-flex>

                <v-flex xs12>
                  <v-textarea
                    label="Observaciones"
                    v-model="client.observaciones"
                    ></v-textarea>
                </v-flex>

                <v-flex xs12>
                  <v-btn
                    class="primary"
                    :disabled="!valid"
                    @click="submit"
                    >
                    {{ !!clientId ? 'Actualizar' : 'Agregar' }}
                  </v-btn>
                  <v-btn flat @click="clear">Reset</v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
        </v-card>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
import ClientsService from '@/services/clients-service'

export default {
  name: 'ClientForm',
  props: {
    title: {
      default: 'Agregar cliente',
      type: String
    },
    clientId: {
      type: Number
    }
  },
  data () {
    return {
      valid: false,
      requiredRule: [
        v => !!v || 'Este campo es requerido'
      ],
      client: {
        nombre: '',
        correo1: '',
        correo2: '',
        cedula: '',
        rif: '',
        contacto: '',
        compania: '',
        cargo: '',
        direccion: '',
        pais: '',
        estado: '',
        ciudad: '',
        telefono1: '',
        telefono2: '',
        fax: '',
        observaciones: ''
      }
    }
  },
  async created () {
    try {
      if (this.clientId) {
        const client = (await ClientsService.get(this.clientId)).data

        delete client.servicios
        delete client.id
        this.client = client
      }
    } catch (err) {
      this.toastError(err)
    }
  },
  methods: {
    clear () {
      this.$refs.form.reset()
    },
    submit () {
      if (this.$refs.form.validate()) {
        this.$emit('submit', {
          client: this.client
        })
      }
    }
  }
}
</script>
